*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}


body{

    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:#e7b9ff;

}



.calculator{

    width:330px;
    padding:25px;

    background:#ffffff;

    border-radius:35px;

    box-shadow:
    10px 10px 30px #c49bdd,
    -10px -10px 25px #ffffff;

}



.display{

    background:#edf6f6;

    height:80px;

    border-radius:25px;

    margin-bottom:35px;

    box-shadow:
    inset 5px 5px 15px #d8e2e2,
    inset -5px -5px 15px white;

}



.display input{

    width:100%;
    height:100%;

    border:none;
    outline:none;

    background:transparent;

    text-align:right;

    padding:20px;

    font-size:45px;

    color:#555;

}



.buttons{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

}



button{

    height:55px;

    border:none;

    border-radius:50%;

    font-size:18px;

    cursor:pointer;

    background:#f1f5f8;


    box-shadow:
    5px 5px 10px #d5d9dc,
    -5px -5px 10px white;


    transition:0.2s;

}



button:hover{

    transform:scale(1.08);

}



button:active{

    box-shadow:
    inset 5px 5px 10px #d5d9dc;

}



.operator{

    background:#eef0f5;

}



.equal{

    grid-column:span 2;

    border-radius:40px;

    background:#df91bb;

    color:white;

    font-size:25px;

}




@media(max-width:400px){

.calculator{

    width:90%;

}

}
